.tasks-page {
    &__filters {
      margin-bottom: 24px;
    }
    
    .ant-card {
      margin-bottom: 24px;
    }

    .ant-input-clear-icon {
      display: flex;
      justify-content: flex-end;
    }
    
    &__content {
      background-color: white;
      border-radius: 4px;
      box-shadow: $shadow-1;
      overflow-x: auto;
      scrollbar-width: thin;
      scrollbar-color: $primary-color transparent;
      flex-wrap: nowrap;

      &::-webkit-scrollbar {
        height: 8px;
        background-color: rgba(0, 0, 0, 0.05);
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border-radius: 4px;
      }
    }
  }